<!DOCTYPE html>
@{
    string x = ViewBag.Name;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 
        <h2>Thank you, @x</h2>
    </div>
</body>
</html>
